h1 {
  font-family: 'Gloria Hallelujah', cursive, sans-serif;
  text-align: center;
  font-size: 32px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.form {
  max-width: 1050px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.number {
  display: flex;
  justify-content: space-evenly;
  align-items:center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 500px;
}

input {
  font-family: 'Gloria Hallelujah', cursive, sans-serif;
  font-size: 24px;
  width: 5rem;
  border: 1px dotted grey;
  border-radius: 0.5rem;
  text-align: center;
}